- name: Import Node.js Repo
  shell: curl -sL https://rpm.nodesource.com/setup_{{nodejs_ver}}.x | bash -

- name: Install build tools
  yum:
    name: [gcc-c++,make]

- name: Install Node.js
  yum:
    name: nodejs

- name: Import Yarn repo
  shell: curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | sudo tee /etc/yum.repos.d/yarn.repo

- name: Install Yarn
  yum:
    name: yarn